//#region Global Imports
import { Context } from 'moleculer';
import { Action, BaseSchema, Method } from 'moleculer-decorators';
//#endregion Global Imports

//#region Local Imports
import { } from '@ServiceHelpers';
import { } from '@Repositories';
{{#hasDatabase}}import connectionInstance from "@Entities/Connection"{{/hasDatabase}}
//#endregion Local Imports

//#region Interface Imports
import { } from '@Interfaces';
//#endregion Interface Imports

export class {{upperFileName}}Service extends BaseSchema {

	public name: string = '{{fileName}}';
{{#hasDatabase}}
	public started: Function = () => {
		connectionInstance()
	};
{{/hasDatabase}}

{{#isPrivate}}
	/**
	* @swagger
	*
	*  {{fileName}}/<methodName>:
	//Example usage of swagger https://swagger.io/docs/specification/2-0/basic-structure/ }}//
	*      responses:
	*        200:
	*          description: Response message
	*        422:
	*          description: Response message
	*/
{{/isPrivate}}
	@Action({
		params: {

		}
	})
	public async {{upperFileName}}(ctx: Context<>): Promise<> {
		const response = await this.methodName();

		return response;
	}

	@Method
	public async {{upperFileName}}Method(): Promise<> {
	}

}

module.exports = new {{upperFileName}}Service();
