import sequelize from 'sequelize';

import { I{{fileName}}} from '@Interfaces';
import { {{fileName}} as Real{{fileName}}} from './{{fileName}}';

export module {{fileName}} {
	let ModelInstance: sequelize.Model<{}, {{fileName}}Sql> = null;
	export const Model = async () => {
		if (!ModelInstance) {
			ModelInstance = await {{fileName}}.Model();

			await ModelInstance.sync();

			await ModelInstance.destroy({
				truncate: true,
				where: {}
			});

		/* 	await ModelInstance.create({
				
			}); */
		}

		return ModelInstance;
	};
}
