import { I{{fileName}} } from '@Interfaces';
import { {{fileName}} } from '@Entities';

export namespace {{fileName}}Repository {
	export const exampleMethod = async (): Promise<I{{fileName}}> => {

		return;
	};
}
