import { I{{fileName}} } from '@Interfaces';
import { {{fileName}} } from '@Models';

export module {{fileName}}Repository {
	export const example = async (): Promise<> => {
		const model = await {{fileName}}.Model();

		return;
	};
}
