//#region Local Imports
import { {{fileName}} } from '@Entities';
//#endregion Local Imports

//#region Interface Imports
import { I{{fileName}} } from '@Interfaces';
//#endregion Interface Imports

export namespace {{fileName}}Repository {
	export const exampleMethod = async (): Promise<I{{fileName}}> => {

		return;
	};
}
