basePath: /api
definitions:
    AttackOutDto:
        description: ""
        properties:
            planetMessage:
                type: string
                description: ""
            weaponMessage:
                type: string
                description: ""
        type: object
        required:
            - planetMessage
            - weaponMessage
    ContextAttackInDto:
        description: ""
        properties:
            planetName:
                type: string
                description: ""
            weaponName:
                type: string
                description: ""
        type: object
        required:
            - planetName
            - weaponName
    DefendOutDto:
        description: ""
        properties:
            damage:
                type: number
                format: double
                description: ""
            planetMessage:
                type: string
                description: ""
        type: object
        required:
            - damage
            - planetMessage
    ContextDefendInDto:
        description: ""
        properties:
            planetName:
                type: string
                description: ""
            weaponName:
                type: string
                description: ""
        type: object
        required:
            - planetName
            - weaponName
info:
    description: 'My Moleculer microservices project'
    title: moleculerjs-boilerplate
    version: 1.0.0
paths:
    /attack/Fire:
        post:
            operationId: AttackServiceFireMethod
            produces:
                - 'application/json; charset=utf-8'
            responses:
                '200':
                    description: Ok
                    schema:
                        $ref: '#/definitions/AttackOutDto'
            description: ""
            tags:
                - AttackServices
            consumes:
                - 'application/json; charset=utf-8'
            parameters:
                -
                    description: ""
                    in: body
                    name: ctx
                    required: true
                    schema:
                        $ref: '#/definitions/ContextAttackInDto'
    /planet/Defend:
        post:
            operationId: PlanetServiceDefendMethod
            produces:
                - 'application/json; charset=utf-8'
            responses:
                '200':
                    description: Ok
                    schema:
                        $ref: '#/definitions/DefendOutDto'
            description: ""
            tags:
                - PlanetServices
            consumes:
                - 'application/json; charset=utf-8'
            parameters:
                -
                    description: ""
                    in: body
                    name: ctx
                    required: true
                    schema:
                        $ref: '#/definitions/ContextDefendInDto'
swagger: '2.0'
securityDefinitions:
    api_key:
        type: apiKey
        name: access_token
        in: query
    tsoa_auth:
        type: oauth2
        authorizationUrl: 'http://swagger.io/api/oauth/dialog'
        flow: implicit
        scopes:
            'write:pets': 'modify things'
            'read:pets': 'read things'
host: 'localhost:3000'
