import { {{fileName}}Repository } from '../../../src/Repositories/{{fileName}}';

describe('Test {{fileName}}Repository constructor', () => {
	it('should create an empty options', () => {
		expect({{fileName}}Repository).toBeDefined();
	});

	it('should work (method name)', async () => {
		const result = await {{fileName}}Repository.methodName(1);
		expect(result).toBeDefined();
	});
});
