//#region Global Imports
import { ServiceBroker } from 'moleculer';
//#endregion Global Imports

//#region Local Imports
import { {{upperFileName}}Helper } from '@Helper';
//#endregion Local Imports

//#region Interface Imports
import { } from '@Interfaces';
//#endregion Interface Imports

const {{upperFileName}} = require('../../../services/{{fileName}}.service');

describe('Test {{upperFileName}} service', () => {

	const broker = new ServiceBroker({ logger: false });
	broker.createService({{upperFileName}});

	beforeAll(() => broker.start());
	afterAll(() => broker.stop());

	describe('Test {{upperFileName}} service actions', async () => {

		it('', async () => {
			const params = {
				// params
			};

			await {{upperFileName}}Helper.methodName(broker as any, params);
		});
	});

});
