// Local Imports
import { {{upperFileName}}Helper } from '@Helper';
import { DummyContext } from '@Helper/Mocks/Context';
import { } from '@Interfaces';

describe('{{fileName}} Service Helper Constructor', () => {
	it('should module exist', async () => {
		expect({{upperFileName}}Helper).toBeDefined();
	});
});

describe('{{fileName}} helpers', () => {
	it('', async () => {
		const data = {};

		const result = await {{upperFileName}}Helper.methodName(DummyContext.getCall(data), data);

		expect(result).toBeDefined();
	});
});
