//#region Local Imports
import { {{upperFileName}}Helper } from '@Helper';
import { DummyContext } from '@Test';
//#endregion Local Imports

//#region Interface Imports
import { } from '@Interfaces';
//#endregion Interface Imports

describe('{{fileName}} Service Helper Constructor', () => {
	it('should module exist', async () => {
		expect({{upperFileName}}Helper).toBeDefined();
	});
});

describe('{{fileName}} helpers', () => {
	it('', async () => {
		const params = {};

		const result = await {{upperFileName}}Helper.methodName(DummyContext.getCall(params), params);

		expect(result).toBeDefined();
	});
});
